    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Generar eventos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item" style="text-align:right;"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active"  style="text-align:right;">Evento</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="tab-content">

                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <h4 class="text-center">
                                DATOS DEL PACIENTE
                            </h4>
                        </div>
                    </div>

                    <div class="row">

                        <div class="small-box mr-4 bg-light">
                            <!--Ajustes-->
                            <div class="mb-3">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="e-profile">
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">

                                                    <div class="col col-md-12">
                                                        <div class="card">
                                                            <div class="card-content">
                                                                <div class="card-body cleartfix">
                                                                    <div class="media align-items-stretch">
                                                                        <div class="align-self-center mr-4">
                                                                            <p class="font-weight-bold">Nombre del paciente:</p>
                                                                        </div>
                                                                        <div class="media-body mr-4">
                                                                            <p class="font-weight-bold">Ripo de sangre</p>
                                                                            <span></span>
                                                                        </div>
                                                                        <div class="media-body mr-4">
                                                                            <p class="font-weight-bold">Porque eesta aqui</p>    
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <h3 class="fas fa-dollar-sign text-success">(USAR PRXIMAMENTE)</h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Ajustes-->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>